@media screen {
	nav span,*::after,*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box
	}
	a {
		text-decoration: none
	}
	body {
		margin: 0
	}
	.page-wrap {
		width: 100%;
		max-width: 1350px;
		overflow-x: hidden;
		position: relative;
		padding-top: 15px
	}
}

@media screen {
	.main-nav {
		font-size: 0;
		position: relative;
		width: 1080px;
		margin: 0 auto;
	}
	.main-nav a {
		display: inline-block;
		position: relative;
		width: 205px;
		height: 50px;
		color: #444;
		font-family: 'Gotham Rounded A', 'Gotham Rounded B', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 1rem;
		text-transform: uppercase;
		margin: 0 0 0 -50px
	}
	.main-nav a.category-head {
		margin-left: 0;
		z-index: 100
	}
	.main-nav a.category-head svg,body.category-head .main-nav a.category-head svg,body.single .main-nav a.category-head svg
	{
		fill: #e18728
	}
	.main-nav a.category-head:hover svg,.main-nav a.category-head:active svg {
		fill: #d27a1d
	}
	.main-nav a.category-head-active {
		height: 60px;
		color: #fff;
		z-index: 100;
		margin-left: 0;
	}
	.main-nav a.category-head-active svg,body.category-head-active .main-nav a.category-head-active svg,body.single .main-nav a.category-head-active svg
	{
		fill: #d27a1d;
	}
	.main-nav a.category-middle-active {
		height: 60px;
		color: #fff;
		z-index: 100 !important
	}
	.main-nav a.category-middle-active svg,body.category-middle-active .main-nav a.category-middle-active svg,body.single .main-nav a.category-middle-active svg
	{
		fill: #d27a1d;
	}
	.main-nav a.category-middle svg,body.cat-101 .main-nav a.category-middle svg,body.page-template-video-single-php .main-nav a.category-middle svg
		{
		fill: #e18728
	}
	.main-nav a.category-middle:hover svg,.main-nav a.category-middle:active svg {
		fill: #d27a1d
	}
	.main-nav a.category-other {
		position: absolute;
		right: 0;
		bottom: 10px;
		width: 200px;
		height: 50px;
		font-size: 1rem;
		margin: 0
	}
	.main-nav a.category-other-active {
		position: absolute;
		right: 0;
		bottom: 10px;
		width: 200px;
		height: 60px;
		font-size: 1rem;
		margin: 0
	}
	.main-nav a.category-other span {
		color: #fff;
		text-shadow: none;
		padding: 21px 0 0 45px
	}
	.main-nav a.category-other-active span {
		color: #fff;
		text-shadow: none;
		padding: 21px 0 0 45px
	}
	.main-nav a.category-other span em {
		font-style: normal
	}
	.main-nav a.category-other-active span em {
		font-style: normal
	}
}

@media screen {
	.main-nav a.category-other svg,body.category-other .main-nav a.category-other svg {
		fill: #e18728
	}
	.main-nav a.category-other-active svg,body.category-other-active .main-nav a.category-other-active svg {
		fill: #d27a1d
	}
	.main-nav a.category-other:hover svg,.main-nav a.category-other:active svg {
		fill: #d27a1d
	}
	.category-other .main-nav a.category-other {
		z-index: 200
	}
	.main-nav a .shape-tab {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%
	}
	.main-nav a span {
		color: white;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		padding: 15px 40px 0 0;
		text-align: center;
		font-size: 85%;
		text-shadow: 0 0 7px rgba(0, 0, 0, 0.4)
	}
	.main-nav:after {
		content: "";
		display: block;
		height: 10px;
	}
	.category-head .main-nav:after,.single .main-nav:after {
		background: #e18728
	}
	.clothes #main {
		background-color: #d27a1d
	}
	.main-nav a.cat-1 {
		z-index: 40
	}
	.main-nav a.cat-2 {
		z-index: 30
	}
	.main-nav a.cat-3 {
		z-index: 20
	}
	.main-nav a.cat-4 {
		z-index: 10
	}
}

.sort_btn {
	background-color:#3bb3e0;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#fff;
	position:relative;
	padding:5px 20px;
	padding-right:50px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 4px 0px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 4px 0px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 4px 0px 0px #156785;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 4px 0px 0px #156785;
}

.sort_btn:active {
	top:2px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
}

.sort_btn::before {
	background-color:#2591b4;
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.sort_btn:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 2px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 2px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 2px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 2px #1a80a6;
}
.sort_btn:hover {
	text-decoration: none;
}

.sort_btn_active {
	background-color:#3bb3e0;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#fff;
	position:relative;
	padding:5px 20px;
	padding-right:50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
}

.sort_btn_active:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
}

.sort_btn_active::before {
	background-color:#2591b4;
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 4px 2px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 4px 2px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 4px 2px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 4px 2px #1a80a6;
}

.sort_btn_active:active::before {
	top:50%;
	margin-top:-9px;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}
.sort_btn_active:hover {
	text-decoration: none;
}

.sort_up::before {
	background-image:url(/img/sort_up.png);
}

.sort_down::before {
	background-image:url(/img/sort_down.png);
}
