@charset "utf-8";
/* CSS Document */
.ficon {
	float: right;
	margin-right: 20px;
	font-size: 16px;
	margin-top: 10px;
}
/*
 * Dropdown menu
 */
.fdropdown {
	position: relative;
	display: inline-block;
	text-align: left;
	width: 300px;
	margin-top: 5px;
}

.fdropdown-text::-moz-selection,.fdropdown-toggle::-moz-selection {
	background: transparent;
	color: inherit;
}

.fdropdown-text::selection,.fdropdown-toggle::selection {
	background: transparent;
	color: inherit;
}

.fdropdown-text {
	cursor: pointer;
	position: absolute;
	text-indent: 10px;
	line-height: 38px;
	background-color: #4f4f4b;
	width: 100%;
}

.fdropdown-text,.fdropdown-content a {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.fdropdown-toggle {
	font-size: 0;
	z-index: 1;
	cursor: pointer;
	position: absolute;
	top: 0;
	border: none;
	padding: 0;
	margin: 0 0 0 1px;
	background: transparent;
	text-indent: -10px;
	height: 34px;
	width: 100%;
}

.fdropdown-toggle:focus {
	outline: 0;
}

.fdropdown-content {
	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-ms-transition: .25s ease;
	-o-transition: .25s ease;
	transition: .25s ease;
	list-style-type: none;
	position: absolute;
	top: 32px;
	padding: 0;
	visibility: hidden;
	margin: 0;
	opacity: 0;
	text-indent: 10px;
	line-height: 38px;
	background-color: #df826b;
	width: 300px;
}

.fdropdown-content:after {
	position: absolute;
	right: 14px;
	top: -9px;
	content: '';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 8px 9px 8px;
	border-color: transparent transparent #df826b transparent;
}

.fdropdown-content li {
	border-bottom: 4px solid #4f4f4b;
	overflow: hidden;
}

.fdropdown-content li:last-child {
	border-bottom: none;
}

.fdropdown-content a {
	display: block;
	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-ms-transition: .25s ease;
	-o-transition: .25s ease;
	transition: .25s ease;
}

.fdropdown-content a:hover {
	background: #4f4f4b;
	padding-left: 5px;
}

.fdropdown-toggle:hover ~ .fdropdown-text,.fdropdown-toggle:focus ~
	.fdropdown-text {
	background-color: #4f4f4b;
}

.fdropdown-toggle:focus ~ .fdropdown-text {
	border-color: #c5c5c5;
	z-index: 2;
}

.fdropdown-toggle:focus ~ .fdropdown-text:after {
	border-width: 0 4px 5px 4px;
	border-color: transparent transparent #555 transparent;
}

.fdropdown-content:hover,.fdropdown-toggle:focus ~ .fdropdown-content {
	opacity: 1;
	visibility: visible;
	top: 55px;
}